global:
  postgresql:
    auth:
      username: guacamole
      password: password
      postgresPassword: password
      database: guacamole

postgresql:
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: "16.2.0-debian-12-r8"
  volumePermissions:
    image:
      registry: docker.io
      repository: bitnamilegacy/os-shell
  metrics:
    image:
      registry: docker.io
      repository: bitnamilegacy/postgres-exporter
  primary:
    persistence:
      enabled: true
      existingClaim: "guacamole-postgres"


guacamole:
  dbcreation:
    image:
      repository: bitnamilegacy/postgresql
      tag: "16.2.0-debian-12-r8"
  guacd:
    image:
      repository: "guacamole/guacd"
      tag: "1.5.4"
      pullPolicy: "IfNotPresent"
  guacamole:
    image:
      repository: "guacamole/guacamole"
      tag: "1.5.4"
      pullPolicy: "IfNotPresent"
  ingress:
    enabled: true
    className: null
    annotations:
          kubernetes.io/ingress.class: "nginx-wes"
          kubernetes.io/tls-acme: "true"
          # proxy-body-size is set to 0 to remove the body limit on file uploads
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - host: guacamole.elastiscale.net
        paths:
          - /

    tls:
      - secretName: guacamole-elastiscale.net
        hosts:
          - guacamole.elastiscale.net

  postgres:
    hostname: "guacamole-postgresql"
    port: "5432"
    database: "guacamole"
    user: "guacamole"
    password: "password"
