open-webui:
  ollama:
    enabled: true
    fullnameOverride: "open-webui-ollama"
    ollama:
      gpu:
        enabled: true
        type: 'nvidia'
        number: 1
      models:
        pull:
          - gemma2:9b
        run:
          - gemma2:9b
    persistentVolume:
      enabled: true
      existingClaim: "ollama-data"
    extraEnv:
      - name: "OLLAMA_KEEP_ALIVE"
        value: "-1"
    nodeSelector:
      nvidia.com/gpu.product: NVIDIA-A30-SHARED

  pipelines:
    enabled: false

  ingress:
    enabled: true
    class: "nginx-wes"
    host: "open-webui.elastiscale.net"
    tls: true
    annotations:
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: 2000m

  persistence:
    enabled: true
    existingClaim: "ollama-webui-data"