# Default values for rocketchat-wes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Mongodb values
mongodb:
  nodeSelector:
    ceph-client: "true"
  persistence:
    enabled: true
    existingClaim: mongodb-data
  auth:
    enabled: false
  extraFlags:
    - "--oplogSize=128"
    - "--replSet=rs0"
  architecture: standalone

rocketchat:
  config:
    SMTP_Host: 172.16.1.13
    SMTP_Port: 25
    From_Email: rocketchat@elastiscale.net
    ROOT_URL: https://chat.elastiscale.net
  persistence:
    existingClaim: rocketchat-data

# Values for rocketchat chart
replicaCount: 1

image:
  repository: rocketchat/rocket.chat
  # tag: 6.3.9
  # tag: 6.4.8
  #tag: 6.5.3
  #tag: 6.5.8
  #tag: 6.7.5
  #tag: 6.8.2
  #tag: 6.9.2
  # tag: 6.10.9
  # tag: 7.0.3
  # tag: 7.1.0
  # tag: 7.2.1
  # tag: 7.8.1
  tag: 7.13.3
  pullPolicy: IfNotPresent
  gotify:
    repository: gotify/server
    tag: latest
  pushgateway:
    repository: wesparish/rocketchat-push-gateway
    tag: "1.0"

nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  port: 3000

ingressGotify:
  enabled: true
  className: "nginx-wes"
  annotations:
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  hosts:
    - host: push.elastiscale.net
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: push-elastiscale.net
      hosts:
        - push.elastiscale.net

ingress:
  enabled: true
  className: "nginx-wes"
  annotations:
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "86400"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
  hosts:
    - host: chat.elastiscale.net
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: chat-elastiscale.net
      hosts:
        - chat.elastiscale.net

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector:
  ceph-client: "true"

tolerations: []

affinity: {}
